*{
  padding: 0;
  margin: 0;
}

html, body{
  max-width: 100%;
  overflow-x: hidden;
}

footer{
  height: 80px;
  background-color: black;
}
.bg {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) ,url(img/scenery.jpg);
  height: 60vh;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.name{
  height: auto;
  position: relative;
  top: 35%;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
  line-height: 50px;
}

.name h2{
  font-weight: 700;
}

.main-body{
  transform: translateY(-120px);
  width: 75%;
  margin: auto;
}

.main-body i {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.main-body i:hover{
  color: white;
}
nav{
  height: 3vh;
  display: flex;
  line-height: 3vh;
  padding: 0 15px;
  z-index: 10;
  justify-content: space-between;
}


nav ul{
  list-style-type: none;
}

nav ul li{
  display: inline-block;
  width: 70px;
}

nav ul li a{
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

nav ul li a:hover{
  color: white;
}

.contact{
  width: 60px;
  text-align: center;
  border-radius: 10px;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.contact a{
  text-decoration: none;
  color: black;
}


.contact:hover{
  background-color: white;
  cursor: pointer;
}

.list-post{
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  gap: 15px;
  width: 100%;
  gap: 30px;
}

.post{
  position: relative;
  overflow: hidden;
  background-color: white;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 2mm;
  transition: 0.3s ease-in-out;

}

.post:hover{
  transform: translateY(-2px);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.208);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.post a{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

.post h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: rgb(149, 149, 149);
}
.p-1{
  flex-basis: 100%;
  min-height: 300px;
  max-height: 30vh;
}

.p-1 img{
  float: left;
  width: 65%;
  height: 100%;
  object-fit: cover;
}

.p-1 .post-desc{
  float: right;
  width: 29%;
  padding: 30px 3%;
  height: auto;
  
}

.p-1 .post-desc h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 25px;
  line-height: 40px;
  color: rgb(43, 43, 43);
}

.p-1 .post-desc p{
  margin-top: 10px;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  color: rgb(65, 65, 65);
}

.p-1 .post-footer{
  line-height: 32px;
  display:flex; 
  flex-wrap: wrap; 
  justify-content: space-between;
  position: absolute;
  bottom: 30px;
  width: 29%;
  right: 3%;
}


.p-1 .profile img{
  width:30px; height:30px; border-radius:100%; border:1px solid black
}

.p-1 .profile p{
  display:inline-block;font-family:'Open Sans', sans-serif; font-weight:700;font-size:14px; color:rgb(146, 146, 146);margin-left:10px;
}

.p-1 .read-time{
  font-family:'Open Sans', sans-serif; font-weight:700;font-size:14px; color:rgb(146, 146, 146);
}

/* Ini Tipe Post 3 */

.p-3{
  flex-basis: 33%;
  height: 80vh;
  width: 33%;
  
}

.p-3 img{
  width: 100%;
  height: 40%;
  object-fit: cover;
}

.post-desc-3{
  width: 84%;
  padding: 25px 8%;
  
}

.post-desc-3 h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 25px;
  line-height: 40px;
  color: rgb(43, 43, 43);
}

.post-desc-3 p{
  margin-top: 10px;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  color: rgb(65, 65, 65);
}

.p-3 .post-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 84%;
  position: absolute;
  line-height: 32px;
  bottom: 30px;
  right: 8%;
}

.p-3 .profile img{
  width:30px; height:30px; border-radius:100%; border:1px solid black;float: left;
}

.p-3 .profile p{
  display:inline-block;font-family:'Open Sans', sans-serif; font-weight:700;font-size:14px; color:rgb(146, 146, 146);margin-left:10px;
}

.p-3 .read-time{
  font-family:'Open Sans', sans-serif; font-weight:700;font-size:14px; color:rgb(146, 146, 146);
}

